@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.carbon {
    width: 100%;
  }
/* :root{
    --primary-color:#3B82F6;
    --secondary-color:#6B7280;
    --white-color:#E5E7EB;
    --grey: rgb(206, 206, 206)
} */
  iframe {
    width: 85% !important;
    min-height: 40vh ;
    border: 0;
    transform: scale(1);
    overflow: hidden;
    display: block !important;
  }
body{
    display: grid;
    grid-template-rows: 8.6rem 20fr ;
}
.home-details{
    text-align: center;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20vh;
}
nav{
    border: 1px solid black;
}
.nav-bar{
    background-color: var(--primary-color);
}
main{
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.sidebar{
    border: 1px solid black;
}
.sidebar-item{
    padding: 0.8rem 1.5rem;
    font-size: 1.8rem;
    font-weight: bolder;
    margin-left: 1.6rem;
    list-style: none;
    cursor: pointer;
    text-decoration: none;
}
a{
    text-decoration: none;
    color: black;
}
a:active{
    color: var(--primary-color);
}
.main-title{
    font-size: 3.5rem;
    padding: 1.7rem;
}

.components{
    border: 1px solid black;
    position: relative;
    padding: 2rem;

}


.div-ch{
    margin-bottom: 2.5rem;
}

.sub-cont{
    display: flex;
    justify-content: space-around;
    width: 85%;
}
.code{
    display: flex;
}