<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/docs.css">
    <title>Even UI | Texts</title>
</head>

<body>
    <nav>
        <div class="nav-bar">
            <ul class="nav-list">
                <li class="nav-items"><img class="nav-icon" src="/images/undraw_nature_m5ll.svg" alt=""></li>
                <a href="/index.html">
                    <li class="nav-items">Home</li>
                </a>
            
            </ul>
            <ul class="nav-list">
                <a href="https://github.com/h-harsh"> <li class="nav-items">Github</li></a>
            </ul>
        </div>
    </nav>
    <main>
        <div class="sidebar">
            <ul>
                <a href="/components/1avatar.html">
                    <li class="sidebar-item">Avatars</li>
                </a>
                <a href="/components/2badge.html">
                    <li class="sidebar-item">Badge</li>
                </a>
                <a href="/components/3alerts.html">
                    <li class="sidebar-item">Alert</li>
                </a>
                <a href="/components/4button.html">
                    <li class="sidebar-item">Buttons</li>
                </a>
                <a href="/components/5cards.html">
                    <li class="sidebar-item">Cards</li>
                </a>
                <a href="/components/6image.html">
                    <li class="sidebar-item"> Image</li>
                </a>
                <a href="/components/7input.html">
                    <li class="sidebar-item">Input Fields</li>
                </a>
                <a href="/components/8lists.html">
                    <li class="sidebar-item">Lists</li>
                </a>
                <a href="/components/9navbar.html">
                    <li class="sidebar-item">Nav Bar</li>
                </a>
                <a href="/components/10grid.html">
                    <li class="sidebar-item">Grid</li>
                </a>
                <a href="/components/11textut.html">
                    <li class="sidebar-item">Text Utilities</li>
                </a>
            </ul>
        </div>
        <div class="components">
            <div class="sub-comp-div">
                <h2 class="div-ch">Headings</h2>
                <div class="div-ch">
                    <h1 class="text-ut" ># Heading one</h1>
                    <h2 class="text-ut" >## Headng two</h2>
                    <h3 class="text-ut" >### Heading three</h3>
                    <h4 class="text-ut" >#### Heading four</h4>
                    <h5 class="text-ut" >##### Heading five</h5>
                    <h6 class="text-ut" >###### Heading six</h6>
                    <p class="text-ut" >This is paragraph text</p>
                </div>
                <div class="carbon ">
                    <iframe
                        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=paraiso-dark&wt=none&l=javascript&ds=true&dsyoff=20px&dsblur=63px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Ch1%253E%2523%2520Heading%2520one%253C%252Fh1%253E%250A%253Ch2%253E%2523%2523%2520Headng%2520two%253C%252Fh2%253E%250A%253Ch3%253E%2523%2523%2523%2520Heading%2520three%253C%252Fh3%253E%250A%253Ch4%253E%2523%2523%2523%2523%2520Heading%2520four%253C%252Fh4%253E%250A%253Ch5%253E%2523%2523%2523%2523%2523%2520Heading%2520five%253C%252Fh5%253E%250A%253Ch6%253E%2523%2523%2523%2523%2523%2523%2520Heading%2520six%253C%252Fh6%253E%250A%253Cp%253EThis%2520is%2520paragraph%2520text%253C%252Fp%253E"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>

            </div>
        </div>
    </main>
</body>

</html>