<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/docs.css">
    <title>Even UI | Avatar</title>
    <script src="https://kit.fontawesome.com/9f366bbf8a.js" crossorigin="anonymous"></script>
    <script src="./index.js"></script>
</head>

<body>
    <nav class="topnav" id="myTopnav">
        <p class="nav-itm nav-itm-text active "><a href="../index.html">Home</a> </p>
        <p class="nav-itm right "> <span>Github</span> <i class="fab fa-github"></i></p>
        <p class="nav-itm right "> <span>Repository</span> <i class="fas fa-code-branch"></i></i></p>
        <p class="nav-itm control right" onclick="myFunction()" > <i class="fa fa-bars"></i></p>
    </nav>
    <main>
        <div class="sidebar">
            <ul>
                <a href="/components/1avatar.html">
                    <li class="sidebar-item">Avatars</li>
                </a>
                <a href="/components/2badge.html">
                    <li class="sidebar-item">Badge</li>
                </a>
                <a href="/components/3alerts.html">
                    <li class="sidebar-item">Alert</li>
                </a>
                <a href="/components/4button.html">
                    <li class="sidebar-item">Buttons</li>
                </a>
                <a href="/components/5cards.html">
                    <li class="sidebar-item">Cards</li>
                </a>
                <a href="/components/6image.html">
                    <li class="sidebar-item"> Image</li>
                </a>
                <a href="/components/7input.html">
                    <li class="sidebar-item">Input Fields</li>
                </a>
                <a href="/components/8lists.html">
                    <li class="sidebar-item">Lists</li>
                </a>
                <a href="/components/9navbar.html">
                    <li class="sidebar-item">Nav Bar</li>
                </a>
                <a href="/components/10grid.html">
                    <li class="sidebar-item">Grid</li>
                </a>
                <a href="/components/11textut.html">
                    <li class="sidebar-item">Text Utilities</li>
                </a>
            </ul>
        </div>
        <div class="components">
            <div class="sub-comp-div">
                <h2 class="div-ch">Avatars</h2>
                <div class="code  sub-cont div-ch">
                    <img class="avatar sm" src="/images/The-Best-Harvey-Specter-Quotes.jpg" alt="">
                    <img class="avatar md" src="/images/The-Best-Harvey-Specter-Quotes.jpg" alt="">
                    <img class="avatar lg" src="/images/The-Best-Harvey-Specter-Quotes.jpg" alt="">
                </div>
                <div class="carbon div-ch">
                    <iframe
                        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=paraiso-dark&wt=none&l=javascript&ds=true&dsyoff=20px&dsblur=63px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%2509%253Cimg%2520class%253D%2522avatar%2520sm%2522%2520src%253D%2522.%252Fimages%252FThe-Best-Harvey-Specter-Quotes.jpg%2522%2520alt%253D%2522%2522%253E%250A%2509%253Cimg%2520class%253D%2522avatar%2520md%2522%2520src%253D%2522.%252Fimages%252FThe-Best-Harvey-Specter-Quotes.jpg%2522%2520alt%253D%2522%2522%253E%250A%2509%253Cimg%2520class%253D%2522avatar%2520lg%2522%2520src%253D%2522.%252Fimages%252FThe-Best-Harvey-Specter-Quotes.jpg%2522%2520alt%253D%2522%2522%253E"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>
            </div>
        </div>
    </main>
</body>

</html>