<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/docs.css">
    <title>Even UI | Buttons</title>
    <script src="https://kit.fontawesome.com/9f366bbf8a.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav>
        <div class="nav-bar">
            <ul class="nav-list">
                <li class="nav-items"><img class="nav-icon" src="/images/undraw_nature_m5ll.svg" alt=""></li>
                <a href="/index.html">
                    <li class="nav-items">Home</li>
                </a>
            </ul>
            <ul class="nav-list">
                <a href="https://github.com/h-harsh"> <li class="nav-items">Github</li></a>
            </ul>
        </div>
    </nav>
    <main>
        <div class="sidebar">
            <ul>
                <a href="/components/1avatar.html">
                    <li class="sidebar-item">Avatars</li>
                </a>
                <a href="/components/2badge.html">
                    <li class="sidebar-item">Badge</li>
                </a>
                <a href="/components/3alerts.html">
                    <li class="sidebar-item">Alert</li>
                </a>
                <a href="/components/4button.html">
                    <li class="sidebar-item">Buttons</li>
                </a>
                <a href="/components/5cards.html">
                    <li class="sidebar-item">Cards</li>
                </a>
                <a href="/components/6image.html">
                    <li class="sidebar-item"> Image</li>
                </a>
                <a href="/components/7input.html">
                    <li class="sidebar-item">Input Fields</li>
                </a>
                <a href="/components/8lists.html">
                    <li class="sidebar-item">Lists</li>
                </a>
                <a href="/components/9navbar.html">
                    <li class="sidebar-item">Nav Bar</li>
                </a>
                <a href="/components/10grid.html">
                    <li class="sidebar-item">Grid</li>
                </a>
                <a href="/components/11textut.html">
                    <li class="sidebar-item">Text Utilities</li>
                </a>
            </ul>
        </div>
        <div class="components">
            <div>
                <h2 class="div-ch">Buttons</h2>
                <div class="code sub-cont div-ch">
                    <button class="btn btn-primary">Primary Button</button>
                    <button class="btn btn-secondary">Secondary Button</button>
                    <button class="btn btn-disabled">Secondary Button</button>
                    <button class="btn btn-link1">Link Button</button>
                    <button class="btn btn-link2">Link Button</button>
                    <button class="btn cta">+</button>
                </div>

                <div class="carbon div-ch ">
                    <iframe
                        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=paraiso-dark&wt=none&l=javascript&ds=true&dsyoff=20px&dsblur=63px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%2509%253Cbutton%2520class%253D%2522btn%2520btn-primary%2522%253EPrimary%2520Button%253C%252Fbutton%253E%250A%2509%253Cbutton%2520class%253D%2522btn%2520btn-secondary%2522%253ESecondary%2520Button%253C%252Fbutton%253E%250A%2509%253Cbutton%2520class%253D%2522btn%2520btn-link1%2522%253ELink%2520Button%253C%252Fbutton%253E%250A%2509%253Cbutton%2520class%253D%2522btn%2520btn-link2%2522%253ELink%2520Button%253C%252Fbutton%253E%250A%2509%253Cbutton%2520class%253D%2522btn%2520cta%2522%253E%252B%253C%252Fbutton%253E"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>
            </div>

            <div>
                <div class="buttons" >
                    <button class="sp-button "><span> Add To Cart</span> </button>
                    <button class="icon-btn"><i class="far fa-heart"></i> </button>
                    <button class="nm-btn2" >Go To Cart</button>
                    <button class="icon-btn" ><i class="fas fa-binoculars"></i>  </button>
                </div>
            </div>

        </div>
    </main>
</body>

</html>